.carer-list {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 44px;
  position: relative;
}

.carer-list__item {
  width: 25%;
  margin-bottom: 25px;
}

.carer-list__item--disabled {
  pointer-events: none;
}

.carer-list__item > div {
  padding-right: 25px;
}

.carer-list__modal {
  position: absolute;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.67);
  height: 100vh;
  top: 0;
  left: 0;
}
